@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

// RESET

* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERICS

a:hover {
    scale: 1.01;
}

// UTILS

.text-first {
    color: #6b8da9 !important ;
}

.bg-main {
    background-color: #d2d7db !important;
}

// SCROLLBAR INTERNA FORM

.form-control::placeholder {
    color: #6c757d;
}

#awards::-webkit-scrollbar,
#artists::-webkit-scrollbar,
#lyrics::-webkit-scrollbar {
    width: 8px;
}

#awards::-webkit-scrollbar-track,
#artists::-webkit-scrollbar-track,
#lyrics::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

#awards::-webkit-scrollbar-thumb,
#artists::-webkit-scrollbar-thumb,
#lyrics::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
}

#awards::-webkit-scrollbar-thumb:hover,
#artists::-webkit-scrollbar-thumb:hover,
#lyrics::-webkit-scrollbar-thumb:hover {
    background: #b1a97d;
}
